# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [ ]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [88]:
for n in heights:
 print (n)

1.82
1.75
1.68
1.76
1.5

#### 1. Use for loop for printing only values bigger than 1.75

In [121]:
for n in heights:
  if n <= 1.75:
    continue
  print (n)

1.82
1.76

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [109]:
for n in heights:
  print (n)
  if n == 1.68:
    break

1.82
1.75
1.68

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [113]:
for n in heights:
  if n == 1.68:
    continue
  print (n)

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [153]:
heights = [1.82, 1.75, 1.68, 1.76, 1.5]
for n in heights:
  if n <= 1.75:
   continue
  print (n, "high")

1.82 high
1.76 high

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [162]:
x = 1
while x < 5:
    print (x)
    x += 1

1
2
3
4

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [166]:
y = 2
while y < 15:
       print (y)
       y += 2

2
4
6
8
10
12
14

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [167]:
a = 6
while a < 15:
  print (a)
  a += 1

6
7
8
9
10
11
12
13
14

## Actors
We have two lists actors and roles which are defined below:

In [ ]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [177]:
##iterate over more than one list simultaneously
for (b, c) in zip (actors, roles):
    print (b, c)

Nathan Fillion Captain Malcolm Reynolds
Gina Torres Zoe Washburn
Alan Tudyk Hoban Washburn
Morena Baccarin Inara Serra
Adam Baldwin Jayne Cobb
Jewel Staite Kaylee Frye
Sean Maher Dr. Simon Tam
Summer Glau River Tam
Ron Glass Derrial Book